<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Tablebooker PHP Test Suite">
            <directory suffix="Test.php" phpVersion="7.1">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
</phpunit>